body {
  /* background: url('skullies-untrainedeye5.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%; */
}
#full_page {
  width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
#full_page img {
  height:100%;
  width: 100%;
}

.nav {
  background-color: rgba(0,0,0,.7);
  z-index: 1000;
  position: absolute;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  display: none;
}

.nav_icon {
  font-size: 30px;
  position: absolute;
  z-index: 1000;
  margin: 10px 0 0 18px;
  color: white;
}

.nav a {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
}
